.login
  .container
    .form.col.s12
      %p.center-align Log in
      = form_for(:session, url: login_path) do |f|
        .row
          .input-field.col.s12
            = f.email_field :email, placeholder: 'Email'
        .row
          .input-field.col.s12
            = f.password_field :password, placeholder: 'Password'
        .row
          .col.s12.center-align
            = f.submit "Log in", class: "waves-effect waves-light btn"
