.container
  .row
    %h3.center-align
      Wedding List
    %table.bordered
      %thead
        %tr
          %th Guest Name
          %th Amount
          %th Status
      %tbody
        %tr
          %td Heng Kimpav
          %td $50.00
          %td Completed
        %tr
          %td Toeng Sophary
          %td $30.00
          %td Completed
        %tr
          %td Khunchheang
          %td $100
          %td Completed
        %tr
          %td Som Dara
          %td nil
          %td Unknown
    